* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#first{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow{
    background-color: yellow;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.text-dark{
    color: black;
}