* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#hour, #minute, #second {
    height: 80px;
    width: 90px;
    margin: 30px;
    border: solid rgb(53, 53, 53);
    border-radius: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large
}

#date {
    height: 80px;
    width: 200px;
    background-color: aquamarine;
    font-size: xx-large;
    border: solid rgb(53, 53, 53);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}