* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clockcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#hour, #minute, #second {
    height: 80px;
    width: 90px;
    margin: 10px;
    border: solid #00FF41;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    color: #00FF41;
    text-shadow: 4px 4px 8px #00FF41;
    box-shadow: 2px 2px 40px #00FF41;
}

#hlable {
    position:absolute;
    left: 581px;
    bottom: 300px;
    font-size:medium;
    color: #00FF41;
    text-shadow: 2px 2px 4px #00FF41;
    
}

#mlable {
    position:absolute;
    left: 742px;
    bottom: 300px;
    font-size:medium;
    color: #00FF41;
    text-shadow: 2px 2px 4px #00FF41;
    
}

#slable {
    position:absolute;
    left: 904px;
    bottom: 300px;
    font-size:medium;
    color: #00FF41;
    text-shadow: 2px 2px 4px #00FF41;
    
}

.Date {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:250px;
}

#date {
    height: 80px;
    width: 390px;
    font-size: xx-large;
    border: solid #00FF41;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
     color: #00FF41;
    text-shadow: 2px 2px 8px #00FF41;
    box-shadow: 2px 2px 50px #00FF41;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#colon1, #colon2 {
    font-size:50px;
    color: #00FF41;
    text-shadow: 2px 2px 8px #00FF41;
}

#AP {  
    font-size: x-large;  
    color: #00FF41;
    text-shadow: 4px 4px 8px #00FF41;
    position: absolute;
    bottom: 305px;
    left: 1010px;
}